<footer class="single-footer">
  <nav>
    <ul>
      <li>
        <a href="/">プライバシーポリシー</a>
      </li>
      <li>
        <a href="/">メルカリ利用規約</a>
      </li>
      <li>
        <a href="/">特定商取引に関する表記</a>
      </li>
    </ul>
  </nav>
  <a href="/" class="single-footer-logo">
    <%= image_tag("logo-gray.svg") %>
  </a>
  <p>
    <small>©︎ 2019 Mercari</small>
  </p>
</footer>
