<main class=" l-container clearfix">
  <div class="l-content">
    <section class="l-chapter-container">
      <h2 class="l-chapter-head">クレジットカード情報入力</h2>
      <form data-adyen-id="card-form" action="https://www.mercari.com/jp/mypage/card/add/" method="POST" id="add-card-form" class="l-single-inner" novalidate="novalidate">
        <input type="hidden" name="__csrf_value" value="e1444618232c1ef46841bcccee48c360d176dba74704bd2af5baa102be0cb79d5831f9ba7fbcdd92162a004a64b1d7ff75d4712c7513d2541938c918ecf355e21">

        <div class="l-single-content">
          <div class="form-group">
            <label for="payment_card_no">カード番号</label>
            <span class="form-require">必須</span>
            <input type="text" value="" id="payment_card_no" placeholder="半角数字のみ" data-input-type="card" class="input-default" maxlength="19">
            <ul id="card-no-error-wrapper" class="has-error-text"></ul>
            <ul class="signup-card-list">
              <li>
                <img src="//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?856433691" alt="" id="visa">
                </li>
              <li>
                <img src="//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?856433691" alt="" id="mc">
              </li>
              <li>
                <img src="//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?856433691" alt="" id="sc">
              </li>
              <li>
                <img src="//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?856433691" alt="" id="jcb">
              </li>
              <li>
                <img src="//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?856433691" alt="" id="ae">
              </li>
              <li>
                <img src="//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?856433691" alt="" id="dc">
              </li>
              <li>
                <img src="//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?856433691" alt="" id="discover">
              </li>
            </ul>
          </div>

          <div class="form-group signup-form-expire">
            <label for="payment_card_expire">有効期限</label>
            <span class="form-require">必須</span>
            <br>
            <div class="select-wrap">
              <select id="payment_card_expire_mm" class="select-default">
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
              <i class="fas fa-chevron-down"></i>
            </div>
            <span>月</span>
            <ul id="expire-mm-error-wrapper" class="has-error-text"></ul>
            <div class="select-wrap">
              <select id="payment_card_expire_yy" class="select-default">
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
              </select>
              <i class="fas fa-chevron-down"></i><i class="fas fa-chevron-down"></i>
            </div>
            <span>年</span>
            <ul id="expire-yy-error-wrapper" class="has-error-text"></ul>
          </div>

          <div class="form-group">
            <label for="payment_card_security_code">セキュリティコード</label>
            <span class="form-require">必須</span>
            <input type="number" value="" id="payment_card_security_code" placeholder="カード背面4桁もしくは3桁の番号" class="input-default">
            <ul id="security-code-error-wrapper" class="has-error-text"></ul>
            <div class="signup-seqcode">
              <div class="signup-seqcode-text">
                <span class="form-question">?</span>カード裏面の番号とは？
              </div>
              <div class="signup-seqcode-info">
                カードの裏面をご参照ください。
                <br>
                <img src="//www-mercari-jp.akamaized.net/assets/img/signup/seq-card.png?856433691" alt="" width="240">
              </div>
            </div>
          </div>

          <input type="hidden" id="user_id" name="user_id" value="557112776">
          <input type="hidden" id="encrypted_card_data" name="encrypted_card_data">
          <p id="primary-error" class="has-error-text"></p>
          <input type="hidden" value="" name="after_save_callback">
          <button type="button" id="submit-button" class="btn-default btn-red">追加する</button>

        </div>

        <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ec.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-KLPT5L5"></script><script src="https://p01.mul-pay.jp/ext/js/token.js" async=""></script>
        <script src="//www-mercari-jp.akamaized.net/assets/js/get_gmopg_card_token.js?3587409808" async=""></script>
        <script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/880621981/?random=1550910112326&amp;cv=9&amp;fst=1550910112326&amp;num=1&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=900&amp;u_w=1440&amp;u_ah=900&amp;u_aw=1440&amp;u_cd=24&amp;u_his=2&amp;u_tz=540&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;gtm=2wg241&amp;sendb=1&amp;frm=0&amp;url=https%3A%2F%2Fwww.mercari.com%2Fjp%2Fmypage%2Fcard%2Fcreate%2F&amp;ref=https%3A%2F%2Fwww.mercari.com%2Fjp%2Fmypage%2Fcard%2F&amp;tiba=%E3%82%AF%E3%83%AC%E3%82%B8%E3%83%83%E3%83%88%E3%82%AB%E3%83%BC%E3%83%89%E6%83%85%E5%A0%B1%E5%85%A5%E5%8A%9B%20-%20%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%E3%82%B9%E3%83%9E%E3%83%9B%E3%81%A7%E3%81%8B%E3%82%93%E3%81%9F%E3%82%93%20%E3%83%95%E3%83%AA%E3%83%9E&amp;async=1&amp;rfmt=3&amp;fmt=4"></script>
      </form>
    </section>
  </div>

<%= render partial: "sidelist" %>

</main>
