<!-- 仮置き -->

  <div class="l-side">
    <nav class="mypage-nav">


      <ul class="mypage-nav-list">
        <li>
          <a href="/jp/mypage/" class="mypage-nav-list-item ">
        マイページ
            <i class="icon-arrow-right"></i>
          </a>
        </li>

        <li>
          <a href="/jp/mypage/notification/" class="mypage-nav-list-item ">
        仮置き
            <span class="mypage-nav-number">
              16
            </span>
                <i class="icon-arrow-right"></i>
          </a>
        </li>

        <li>
          <a href="/jp/mypage/todo/" class="mypage-nav-list-item ">
            仮置き
            <i class="icon-arrow-right"></i>
          </a>
        </li>

        <li>
          <a href="/jp/mypage/like/history/" class="mypage-nav-list-item ">
            仮置き
            <i class="icon-arrow-right"></i>
          </a>
        </li>

        <li>
          <a href="/jp/logout/" class="mypage-nav-list-item ">
            ログアウト
            <i class="icon-arrow-right"></i>
          </a>
        </li>
      </ul>

    </nav>
  </div>
