<% breadcrumb :delete_users, @users %>
  <main class=" l-container clearfix">
    <div class="l-content">
      <section class="l-chapter-container">
        <div class="l-single-inner">
          <div class="l-single-content">
            <button type="button" id="submit-button" class="btn-default btn-red">ログアウト</button>
          </div>
        </div>
      </section>
    </div>
    <%= render partial: "shared/mypage-side-bar" %>


  </main>
  <footer class="item-footer">
    <%= image_tag("itemshow-footer.png", class: "footer-img", alt: "フリマアプリ無料ダウンロード") %>
  </footer>
