
  <div class="mypage clearfix">
    <section class="mypage__contents clearfix" >
      <div class="mypage__contents__user">
        <div class="user-icon">
          <a href="https://www.mercari.com/jp/u/580900419/" >
            <figure>
              <img id ="user-icon-img", src="https://static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png" alt="user_icon">
            </figure>
            <h2>user_name</h2>
            <div class="user-info">
              <div>
                評価
                <span>0</span>
              </div>
              <div>
                出品数
                <span>0</span>
              </div>
            </div>
          </a>
        </div>

<!-- おしらせ＆やることタブ
 -->
        <%= render partial: "/mypages/news-tab" %>


<!-- 購入商品の取引のタブ
 -->
        <%= render partial: "/mypages/shopping-tab" %>

    </section>

<!-- サイドバー
 -->
        <%= render partial: "shared/mypage-side-bar" %>



  </div>



