        <div class="mypage__tab-news-todo">
          <ul class ="nav-tabs upper-tab clearfix">
            <li>
              <a href="#news__contents" class="active">
              お知らせ
                <span class="nav-number hidden-large">3</span>
              </a>
            </li>
            <li>
              <a href="#to-do__contents" >やることリスト</a>
            </li>
          </ul>
          <div class ="tab-content upper-tab-content">
            <ul id ="news__contents" class ="mypage-item-list">
              <li>
                <a href="https://www.mercari.com/jp/mypage/news/" class="mypage-item-link">
                  <figure>
                    <%= image_tag ("mercari_icon.png") %>
                  </figure>
                  <div class="mypage-item-body">
                    <div class="mypage-item-text">
                      事務局からあなただけに秘密のお得情報を特別にお教えします・・・・・・。
                      ミンナニハナイショダヨ・・・。
                    </div>
                    <time>
                      <i class="far fa-clock"></i>
                      <span>3日前</span>
                    </time>
                  </div>
                  <i class="fas fa-angle-right "></i>
                </a>
              </li>
              <li>
                <a href="https://www.mercari.com/jp/mypage/news/" class="mypage-item-link">
                  <figure>
                    <%= image_tag ("mercari_icon.png") %>
                  </figure>
                  <div class="mypage-item-body">
                    <div class="mypage-item-text">
                      花粉症の季節が始まりました。皆さんもご注意ください。
                    </div>
                    <time>
                      <i class="far fa-clock"></i>
                      <span>5日前</span>
                    </time>
                  </div>
                  <i class="fas fa-angle-right "></i>
                </a>
              </li>
              <li>
                <a href="https://www.mercari.com/jp/mypage/news/" class="mypage-item-link">
                  <figure>
                    <%= image_tag ("mercari_icon.png") %>
                  </figure>
                  <div class="mypage-item-body">
                    <div class="mypage-item-text">
                      味噌汁にピザ用チーズをいれると、おいしい。
                    </div>
                    <time>
                      <i class="far fa-clock"></i>
                      <span>7日前</span>
                    </time>
                  </div>
                  <i class="fas fa-angle-right "></i>
                </a>
              </li>
              <li class="all-list-view">
                <a href="https://www.mercari.com/jp/mypage/notification/">一覧を見る</a>
              </li>
            </ul>
            <ul id ="to-do__contents" class ="mypage-item-list">
              <li class="mypage-item-list__not-found">
                現在、やることリストはありません
              </li>
            </ul>
          </div>
        </div>
      </div>
