      <div class="purchase__list">
        <h2 class ="purchase__list__head">
          購入した商品
        </h2>
        <ul class ="nav-tabs lower-tab">
          <li>
            <a href="#current-shopping__content" class="active">取引中</a>
          </li>
          <li>
            <a href="#past-shopping__content" >過去の取引</a>
          </li>
        </ul>
        <div class ="tab__content lower-tab-content">
          <ul id="current-shopping__content" class ="mypage-item-list">
            <li class="mypage-item-list__not-found">
              取引中の商品がありません
            </li>
          </ul>
          <ul id="past-shopping__content" class ="mypage-item-list" >
            <li class="mypage-item-list__not-found">
              過去に取引した商品がありません
            </li>
          </ul>
        </div>
      </div>
