<header class="pc-header">
  <div class="pc-header__inner">
    <div class="pc-header__inner--top">
      <h1 class="mercari-logo h-left">
        <a href="https://www.mercari.com/jp/">
          <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3708647559" alt="mercari" class="mercari-logo">
        </a>
      </h1>
      <form action="/" method="POST" class="pc-header__form h-right">
        <input type="search" name="keyword" value="" placeholder="キーワードから探す" class="input">
          <i class="fas fa-search"></i>
      </form>
    </div>
    <div class="pc-header__nav">
      <div class="h-left">
        <ul class="pc-header__nav--search">
          <li>
            <h2>
              <a href="https://www.mercari.com/jp/"class="pc-header__nav--root">カテゴリーから探す</a>
            </h2>
          </li>
          <li>
            <h2>
              <%= link_to "ブランドから探す", destroy_user_session_path, method: :delete, class: "pc-header__nav--root" %>
            </h2>
          </li>
        </ul>
      </div>
      <% if user_signed_in? %>
      <div class="h-right right-m">
        <ul class="pc-header__nav--user">
          <li>
            <a href="https://www.mercari.com/jp/"class="pc-header__nav--root pc-header__user--icon">
              <figure>
                <div>
                  <img src="https://tshop.r10s.jp/auc-fukumishouji/cabinet/syouhin01/imgrc0070586794.jpg?fitin=275:275">
                </div>
              </figure>
              <div>マイページ</div>
            </a>
          </li>
          <li>
            <h2>
              <a href="https://www.mercari.com/jp/"class="pc-header__nav--root">
                <i class="far fa-bell">
                  お知らせ
                </i>
              </a>
            </h2>
          </li>
          <li>
            <h2>
              <a href="https://www.mercari.com/jp/"class="pc-header__nav--root">
                <i class="fas fa-check">
                  やることリスト
                </i>
              </a>
            </h2>
          </li>
        </ul>
      </div>
      <% else %>
      <div class="h-right">
        <ul class="header_login">
          <li>
            <h2>
              <%= link_to "ログイン", new_user_session_path, class: "header_btn btn_red" %>
            </h2>
          </li>
          <li>
            <h2>
              <%= link_to "新規会員登録", new_user_registration_path, class: "header_btn signup_btn" %>
            </h2>
          </li>
        </ul>
      </div>
      <% end %>
    </div>
  </div>
</header>
