<section class="items-box">
  <a href="/">
    <div class="item-box__photo">
      <img src="https://pbs.twimg.com/profile_images/483620827896631298/TATK3-4w_400x400.jpeg">
    </div>
    <div class="items-box__body">
      <h3 class="items-box__name font2">
        akuakuakuakuakuakua
      </h3>
      <div class="items-box__num">
        <div class="items-box__price font5">
          $3,000
        </div>
        <p class="items-box__tax">
          （税込）
        </p>
        <div class="items-box__likes font2">
          <i class="far fa-heart icon-like-border"></i>
          <span>1</span>
        </div>
      </div>
    </div>
  </a>
</section>
