<h3 class="text-center">
  <a href="/">レディース 新着アイテム</a>
</h3>
<div class="items-box-content">
  <%= render partial: "items-box" %>
  <%= render partial: "items-box" %>
  <%= render partial: "items-box" %>
  <%= render partial: "items-box" %>
  <!-- 変数を使用するためにlocalsの記入をお願いします -->
</div>
<div class="view-all">
  <a href="/">すべての商品を見る</a>
</div>
