%h3.text-center
  %a{:href => "/"} レディース 新着アイテム
.items-box-content
  = render partial: "items-box"
  = render partial: "items-box"
  = render partial: "items-box"
  = render partial: "items-box"
  / 変数を使用するためにlocalsの記入をお願いします
.view-all
  %a{:href => "/"} すべての商品を見る
