%section.items-box
  %a{:href => "/"}
    .item-box__photo
      %img{:src => "https://pbs.twimg.com/profile_images/483620827896631298/TATK3-4w_400x400.jpeg"}/
    .items-box__body
      %h3.items-box__name.font2
        akuakuakuakuakuakua
      .items-box__num
        .items-box__price.font5
          $3,000
        %p.items-box__tax
          （税込）
        .items-box__likes.font2
          %i.far.fa-heart.icon-like-border
          %span 1
