<section class="items-box-container">
  <%= render partial: "items-box-container" %>
  <!-- 変数を使用するためにlocalsの記入をお願いします -->
</section>
<section class="items-box-container">
  <%= render partial: "items-box-container" %>
  <!-- 変数を使用するためにlocalsの記入をお願いします -->
</section>
<section class="items-box-container">
  <%= render partial: "items-box-container" %>
  <!-- 変数を使用するためにlocalsの記入をお願いします -->
</section>
<section class="items-box-container">
  <%= render partial: "items-box-container" %>
  <!-- 変数を使用するためにlocalsの記入をお願いします -->
</section>
