@media screen and (min-width: 768px) and (max-width: 1068px) {
  .global-footer {
    padding: 60px 0;
    text-align: center;
    nav {
      width: 700px;
      margin: 0 auto;
    }
  }
  .download-app {
    display: none;
  }
  .footer-cell {
    display: inline-block;
    width: 23%;
    margin: 0 2% 0 0;
    vertical-align: top;
  }
  .footer-cell:last-child {
    margin: 0;
  }
  .footer-nav-lang a {
    width: auto;
  }
  .footer-sell-btn {
    bottom: 32px;
    right: 32px;
    width: 160px;
    height: 160px;
    font-size: 22px;
    div{
      margin: 24px 0 0;
    }
    .icon-camera {
      margin: 8px 0 0;
      font-size: 54px;
    }
  }
  .l-container {
    width: 700px;
    background-color: #f5f5f5;
  }
  .l-content {
    float: none;
    width: 700px;
  }
  .l-chapter-head {
    font-size: 24px;
    padding: 8px 24px;
  }
  .l-single-inner {
    padding: 64px;
  }
}

@media screen and (min-width: 768px){
  .l-chapter-head {
  font-size: 24px;
  padding: 8px 24px;
  margin: 0;
  }
}
