@charset "UTF-8";

a {
  text-decoration: none;
}
main {
  width: 100%;
  background-color: lightgray;
}
.main-container {
  width: 700px;
  background-color: white;
  margin: 0 auto;
}
.main-container__heading {
  padding: 32px 16px;
  text-align: center;
  width: 668px;
  height: 46px;
}
.main-container__heading-text {
  font-size: 22px;
  font-weight: bold;
  line-height: 46px;
  margin: 0;
}

.main-container__itemInfo {
  width: 100%;
  border-top: 1px solid black;
  padding-bottom: 40px;
}
.main-container__itemInfo__inner {
  width: 320px;
  margin: 20px auto;
}
.main-container__itemInfo__inner_imagebox-img {
  display: block;
  width: 148px;
  height: 148px;
  margin: 0 auto;
}
.main-container__itemInfo__inner__itemname {
  margin: 8px 0 0px;
  font-size: 16px;
  line-height: 1.5;
}
.main-container__itemInfo__inner__form {
  padding: 0;
  margin: 0;
}
.main-container__itemInfo__inner__form-price {
  margin: 8px 0;
  font-size: 28px;
  line-height: 1.5;
  text-align: center;
  font-weight: 600;
}
.main-container__itemInfo__inner__form-price-deriver {
  margin: 0 0 0 8px;
  font-size: 14px;
  font-weight: 400;
}
.main-container__itemInfo__inner__form-pointlist {
  list-style-type: none;
/*  margin: 0;*/
  padding: 0;
}
.main-container__itemInfo__inner__form-pointlist-boxtext {
  padding: 16px;
  border: 1px solid #ccc;
  text-align: center;
}
.main-container__itemInfo__inner__form-psyprice {
 /* display: block;*/
  list-style-type: none;
  margin: 0;
  padding: 0;
/*  width: 320px;*/
}
.main-container__itemInfo__inner__form-psyprice-box {
  display: block;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}
.main-container__itemInfo__inner__form-psyprice-box-text {
  display: inline-block;

  float: left;
  padding: 16px 0;
}
.main-container__itemInfo__inner__form-psyprice-box-price {
  display: inline-block;
  float: right;
  padding: 16px 0;
}
.main-container__itemInfo__inner__form-pay-buybtn {
  width: 286px;
  padding: 16px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  background-color: red;
}
.main-container__itemInfo__inner__form-pay-buybtn a {
  color: white;
}
.main-container__useraddress {
  box-sizing: border-box;
  width: 700px;
  border-top: 1px solid black;
  margin: 40px 0 0;
  padding: 24px 12.5% 0;
/*  background-color: yellow;*/
}
.main-container__useraddress__box {
  max-width: 320px;
  margin: 0 auto;
}
.main-container__useraddress__box-header {
  font-size: 14px;
}
.main-container__useraddress__box-address {
  font-size: 14px;
  font-family: sans-serif;
  font-style: normal;
}
.main-container__useraddress__box-changeadd {
  display: block;
  text-align: right;
  font-size: 14px;
}
.main-container__cardInfo {
  box-sizing: border-box;
  width: 700px;
  border-top: 1px solid black;
  margin: 40px 0 0;
  padding: 24px 12.5%;
/*  background-color: yellow;*/
}
.main-container__cardInfo__box {
  max-width: 320px;
  margin: 0 auto;
}
.main-container__cardInfo__box-header {
  font-size: 14px;
}
.main-container__cardInfo__box-cardNo {
  font-size: 14px;
  margin: 0;
}
.main-container__cardInfo__box-cardimg {
  width:34px;
  height:20px;
  background-color:blue;
}
.main-container__cardInfo__box-changeNo {
  display: block;
  text-align: right;
  font-size: 14px;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
