body {
    position: relative;
    min-height: 100%;
    background: #f5f5f5;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1;
}

*, ::before, ::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

* {
    font-size: inherit;
    line-height: inherit;
}

*, ::before, ::after {
  border-style: solid;
  border-width: 0;
}

* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

h2 {
    font-size: 22px;
    line-height: 1.4;
}

main {
  display: block;
}

.l-container {
  margin: 24px auto 0;
  padding: 0 0 40px;
}

.l-content {
    width: 100%;
}

.l-chapter-container:first-child {
  margin: 0;
}

.l-chapter-container {
  margin: 40px 0 0;
  background: #fff;
}

.l-chapter-head {
  padding: 12px 4%;
  border-bottom: 1px solid #f5f5f5;
  text-align: center;
  font-size: 18px;
}

.btn-default {
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
}

.btn-red {
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
}

.l-single-inner {
  border-top: 1px solid #f5f5f5;
  padding: 40px;
  p {
    margin: 8px 0 0;
    line-height: 1.5;
  }
  .btn-red {
    margin: 40px 0 0;
  }
}

button, input, select, textarea {
    color: inherit;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
}

input {
  border: 0;
  outline: 0;
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.l-single-content {
  max-width: 320px;
  margin: 0 auto;
}

ul, ol {
    list-style: none;
}

button, [type="button"], [type="date"], [type="datetime"], [type="datetime-local"], [type="email"], [type="month"], [type="number"], [type="password"], [type="reset"], [type="search"], [type="submit"], [type="tel"], [type="text"], [type="time"], [type="url"], [type="week"], select, textarea {
    min-height: 1.5em;
}

.form-group:first-child {
  margin: 0;
}

label {
  display: inline-block;
}

.form-require, .form-arbitrary, .message-is-seller, .news-private {
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
}

.input-default {
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
}

.form-require {
  background: #ea352d;
}

.select-wrap {
    position: relative;
    background: #fff;
}

img {
  vertical-align: middle;
}

img#visa{
  width: 49px;
  height: 20px;
}

img#mc{
  width: 34px;
  height: 20px;
}

img#sc{
  width: 30px;
  height: 20px;
}

img#jcb{
  width: 32px;
  height: 20px;
}

img#ae{
  width: 21px;
  height: 20px;
}

img#dc{
  width: 32px;
  height: 20px;
}

img#discover{
  width: 32px;
  height: 20px;
}

select {
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-group {
  margin: 40px 0 0;
  label {
    font-weight: 600;
  }
  .input-default {
    width: 100%;
    margin: 8px 0 0;
  }
  .has-error-text {
    color: #ea352d;
    line-height: 1.5;
    font-size: 14px;
  }
  .signup-card-list {
    margin: 8px 0 0;
    font-size: 0;
    li:first-child {
      margin: 0;
    }
    li {
      display: inline-block;
      margin: 0 0 0 8px;
      vertical-align: middle;
    }
  }
  .select-wrap {
    margin: 8px 0 0;
  }
  select {
    width: 100%;
  }
  .fas.fa-chevron-down {
    position: absolute;
  }
}

a, area, button, input, label, select, textarea, [tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.select-default {
      position: relative;
      z-index: 2;
      height: 48px;
      padding: 0 16px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: 0;
      font-size: 16px;
      line-height: 1.5;
      cursor: pointer;
    }

.signup-form-expire {
  .select-wrap {
    display: inline-block;
    width: 35%;
    .fas.fa-chevron-down {
      position: absolute;
      right: 16px;
      top: 50%;
      z-index: 2;
      color: #888;
      font-size: 8px;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }
  }
  span {
    margin: 0 8px;
  }
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.fas.fa-chevron-down{
  display: inline-block;
  font-family: 'icon-font';
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fas.fa-chevron-down:before {
  content: '\e001';
}

.signup-seqcode {
  position: relative;
  margin: 8px 0 0;
}

.signup-seqcode-text {
  text-align: right;
  color: #0099e8;
}

.form-question {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}

.signup-seqcode-info {
  position: absolute;
  left: 0;
  right: 0;
  top: 28px;
  z-index: 1;
  padding: 16px;
  border-radius: 6px;
  background: #eee;
  color: #333;
  line-height: 1.5;
  text-align: center;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  visibility: hidden;
  opacity: 0;
}

.signup-seqcode-info.is-show {
    visibility: visible;
    opacity: 1;
}

.signup-seqcode-info:before {
  top: -8px;
  right: 32px;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #eee transparent;
  display: block;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.signup-seqcode-info img {
    margin: 8px 0 0;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
