.notification {
  .notice {
    height: 45px;
    background-color: #38AEF0;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
  }
  .alert {
    height: 45px;
    background-color: #F35500;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
  }
}
