.global-footer{
  padding: 40px 20px;
  background: #212121;
  color: #fff;
  nav ul{
    list-style: none;
  }
  li{
    color: #333;
  }
  a{
    color: #fff;
  }
}


.download-app{
  text-align: center;
  a{
    display: block;
  }
  img{
    margin: 0 8px 0 0;
  }
}

.footer-cell{
  margin: 40px auto 0;
  .footer-head{
    color: #fff;
    font-size: 16px;
  }
  li:first-child{
    margin: 24px 0 0;
  }
  li{
    margin: 16px 0 0;
  }
  .footer-nav-lang{
    a{
      margin: 0 auto;
    }
    img{
      margin: 0 8px 0 0;
    }
    #lang {
      width: 22px;
    }
  }
  a{
    display: block;
  }
}

.footer-logo{
  display: block;
  margin: 40px auto 0;
  text-align: center;
  width: 124px;
  height: 33px;

}

.footer-copyright{
  margin: 8px 0 0;
  text-align: center;
  small{
    font-size: 14px;
  }
}

// img{
//   vertical-align: middle;
// }

a{
  color: #0099e8;
  text-decoration: none;
}

* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
