
//header

.mercari-logo {
  height: 36px;
  width: 134px;
}

.pc-header {
  height: 90px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  &__inner {
    height: 90px;
    width: 80%;
    padding-top: 10px;
    margin: 0 auto;
    background-color: white;
    &--top {
      height: 35px;
      width: 100%;
      background-color: white;
      &--bottom {
        height: 50%;
        width: 100%;
      }
    }
  }
  &__form {
    width: calc(100% - (134px + 16px));
    position: relative;
  }
}

.mercari-logo {
  height:36px;
  width: 134px;
  vertical-align: middle;
}

.input {
  height: 36px;
  width: 100%;
  padding: 9px 32px 9px 8px;
  background-color: #fafafa;
  border-radius: 4px;
  border: 1px solid #ccc;
  line-height: 1.5;
  font-size: 16px;
}

.fa-search {
  height: 36px;
  width: 36px;
  font-size: 13px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}
.fa-search:before {
  line-height: 36px;
}

.h-left {
  float: left;
}
.h-left ul li {
  display: inline-block;
}
.h-right {
  float: right;
}
.h-right ul li {
  display: inline-block;
}


.pc-header__nav--root {
  line-height: 34px;
  margin: 0 5px 0 0;
}
.pc-header__nav--search a {
  color: black;
}
.pc-header__nav--search a:hover {
  color: #0099e8;
}
.pc-header__nav--user a {
  line-height: 14px;
  color: black;
}
.pc-header__nav--user a:hover {
  color: #0099e8;
}
.pc-header__nav h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}


.pc-header__user--icon img{
  height: 32px;
  width: 32px;
  border-radius: 25px;
}
.pc-header__user--icon div{
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
}
.pc-header__user--icon figure {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  vertical-align: middle;
}
.pc-header__user--icon div {
  border-radius: 50%;
}


//before login


.btn_red {
  display: block;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}
.header_btn {
  margin: 0;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 4px;
  text-align: center;
}
.header_login li {
  margin: 0 0 0 8px;
}
.signup_btn {
  display: block;
  border: 1px solid #0099e8;
  background: #fff;
  color: #0099e8;
}
.signup_btn:hover {
  background-color: #0099e8;
  color: #fff;
}
.right-m {
  padding-top: 10px;
}














//after login
