body {
    position: relative;
    min-height: 100%;
    background: #f5f5f5;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1;
    box-sizing: border-box;
}
* {
    font-size: inherit;
    line-height: inherit;
}
*, ::before, ::after {
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
}
.main {
  background-color: #f5f5f5;
  font-size: 18px;
}
.main-section {
  width:700px;
 /* height: 1000px;*/
  margin: 0 auto;
  background-color: white;
}
.main-section__inner__head {
  padding: 35px 0;
  text-align: center;
  font-size: 22px;
  line-height: 1.4;
  border-bottom: 2px solid #f5f5f5;
}
.main-section__inner__form-container {
  margin: 40px 40px 40px;
}
.main-section__inner__form-container-label {
  height: 30px;
  padding: 5px;
  font-weight: bold;
}
.fmain-section__inner__form-container-span {
  display: inline-block;
  background-color: #ea352d;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  margin-bottom: 10px;
}
.filelabel {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.fmain-section__inner__form-container-p {
  margin: 10px 5px 20px;
  font-size: 15px;
}
.fmain-section__inner__form-container-textarea {
  height: 150px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  line-height: 1.5;
  font-size: 16px;
}
.main-section__inner__form-container__head {
  color: #999;
  width: 35%;
  margin: 0;
  padding-left: 15px;
  float: left;
}
.main-section__inner__form-container__rightbox {
  float: right;
  width: 65%;
}
.main-section__inner__form-container-label-price {
  height: 30px;
  padding: 5px;
  line-height: 50px;
  font-weight: bold;
}
.fmain-section__inner__form-container-span-price {
  display: inline-block;
  background-color: #ea352d;
  margin: 15px 90px 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
.main-section__inner__form-container__fee {
  height: 50px;
  font-weight: bold;
  line-height: 50px;
  float: left;
  padding: 5px 5px 40px;
}
.main-section__inner__form-container__fee-show {
  height: 50px;
  padding-right: 10px;
  line-height: 50px;
  float: right;
  margin-top: 10px;
}
.main-section__inner__form-container-text {
  font-size: 14px;
  margin: 40px 40px 40px;
}
#submit {
  width: 620px;
  height: 50px;
  border-radius: 2px;
  background-color: red;
  font-weight: bold;
  color: #fff;
  margin: 0 40px 40px;
  cursor: pointer;
}
#return {
  width: 300px;
  height: 50px;
  border-radius: 2px;
  background-color: #eee;
  font-weight: bold;
  color: #fff;
  margin: 0 200px 40px;
  cursor: pointer;
}
.input-default {
  display: block;
  height: 50px;
  width: 100%;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}
.input-default-price {
  display: block;
  height: 50px;
  width: 50%%;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  float: right;
}
.img-box {
  height: 150px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 80px;
}
.input-img {
  display: none;
}
.select-default {
  display: block;
  height: 50px;
  width: 100%;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  margin: 0 0 40px;
}
.long-margin {
  margin-bottom: 80px;
}
.underline {
  border-bottom: 1px solid #CCC;
}
.blue {
  color: blue;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
