body {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}
a {
  color: #0099e8;
  text-decoration: none;
}
img {
  height: 100%;
  width: 100%;
  vertical-align: middle;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

//all
.container {
  height: 1000px;
  width: 100%;
  background-color: white;
}

// main

.pickup-container {
  padding: 40px 0;
  background-color: #f5f5f5;
}
.pickup-container h2 {
  font-size: 28px;
  text-align: center;
  line-height: 1.4;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.pickup-container a {
  color: #0099e8
}
.items-box-container {
  width: 940px;
  font-size: 22px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.items-box-content {
  height: 330px;
  width: 940px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.items-box {
  margin: 0 0 0 20px;
  width: 213px;
  float: left;
  background-color: #fff;
  display: inline-block;
  &__photo{
    overflow: hidden;
    padding: 0 0 100%;
  }
  &__body {
    padding: 10px;
    height: 110px;
  }
  &__name {
    overflow: hidden;
    font-weight: 400;
    height: 41px;
    width: 181px;
    line-height: 1.5;
    word-break: break-word;
    white-space: normal;
  }
  &__name h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  &__num {
    height: 28.84px;
    margin: 8px 0 0;
  }
  &__price {
    font-size: 16px;
    float: left;
  }
  &__likes {
    margin: 3px 0 0 145px;
  }
  &__likes i {
    margin: 0 4px 0 0;
    vertical-align: middle;
  }
  &__likes span {
    display: inline-block;
    margin: 1px 0 0;
    vertical-align: middle;
  }
  &__tax {
    width: 100%;
    color: black;
    font-size: 10px;
    float: left;
  }
}
.items-box__photo {
  height: 213px;
  width: 213px;
}
.font2 {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.icon-like-border {
  color: #ccc;
}
.font5 {
  font-weight: 600;
  color: #333;
}
.view-all {
  font-size: 15px;
  margin: 20px 0 50px;
  width: 99%;
  text-align: right;
}
