
ul {
  display: block;
}

.clearfix:after{
  content: "";
  clear: both;
  display: block;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  margin: 24px auto 0;
  padding: 0 0 40px;
}

.mypage {
  display: block;
  background-color: #f5f5f5;
  height: 100%;
  margin: 40px auto 0;
  padding: 0 0 40px;
  color: #333;
  @media screen and (min-width: 1068px) {
    width: 1020px;
    margin: 40px auto 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1068px) {
    width: 700px;
  }
  a {
    color: #333;
  }
  &__contents {
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
    text-align: center;
    margin:0 0 0 0;
    @media screen and (min-width: 1068px) {
      float: right;
      width: 700px;

    }
    @media screen and (min-width: 768px) and (max-width: 1068px) {
        width: 100%;
        float: none
      }
    &__user {
      background-color: #f5f5f5;
      .user-icon {
        background-image: url("mercari_user_icon_back.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        text-align: center;
        box-sizing: border-box;
        height:155px;
        padding: 20px;
        @media screen and (min-width: 768px) {
          height: 200px;
        }
        a {
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          transform: translate(0, -50%);
          #user-icon-img {
            width: 60px;
            height: 60px;
            margin: 0 auto;
            border-radius: 50%;
          }
          h2 {
            margin: 8px 0 0 ;
            font-size: 14px;
            line-height: 1.4;
          }
          .user-info {
            margin: 8px 0 0;
            div {
              display: inline-block;
              font-size: 14px;
              span {
                margin: 0 0 0 8px;
                font-weight: bold;
                font-size: 16px;
              }
            }
            div+div {
              margin: 0 0 0 16px;
            }
          }
        }
      }
    }
    .mypage__tab-news-todo {
      height: 100%;
      background-color: #fff;
    }

    .purchase__list {
      margin: 40px 0 0;
      background-color: #fff;
      &__head {
        padding: 0 16px;
        background-color: #fafafa;
        font-size: 16px;
        line-height: 72px;
        text-align: left;
      }
    }
  }


}


// タブのCSS
.nav-tabs {
  margin: 0;
  padding: 0;
  height: 100%;
  display: block;
  li {
    height: 100%;
    a {
      font-size: 18px;
      font-weight: bold;
      background-color: #eee;
      color: #333;
      position: relative;
      line-height: 72px;
      width: 50%;
      float:left;
    }
    a:hover {
      opacity: 0.7;
    }
    a.active {
      background-color: #fff;
      border-top: 2px solid #ea352d;
    }
      span{
        position: absolute;
        top: 16px;
        right: 2px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #ea352d;
        text-align: center;
        line-height: 24px;
        color: #fff;
      }
  }
}

.tab-content {
  .mypage-item-list {
    display: block;
    text-align: left;
    li {
      border-bottom: 1px solid #eee;
      .mypage-item-link {
        width: 100%;
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        min-height: 80px;
        padding: 16px;
        figure {
          position: relative;
          overflow: hidden;
          float: left;
          width: 48px;
          height: 48px;
          margin: 0;
          img {
            background-color: #f5f5f5;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            width: 100%;
          }
        }
        .mypage-item-body {
          margin: 0 40px 0 68px;
          .mypage-item-text {
            overflow: hidden;
            line-height: 1.5;
            max-height: 4.4em;
          }
          time {
            display: inline-block;
            color: #888;
            .fa-clock {
              margin:0 8px 0 0;
            }
          }
        }
        .fa-angle-right {
          position: absolute;
          font-size: 24px;
          top: 50%;
          right: 16px;
          transform: translate(0,-80%);
        }
      }
    }
    .all-list-view {
      padding: 16px;
      a {
        display: block;
        height: 56px;
        margin: 0 auto;
        background-color: #eee;
        line-height: 56px;
        text-align: center;
      }
    }
  }
}

.mypage-item-list__not-found {
  padding: 160px 0 60px;
  background-image: url("ありませんロゴ.png");
  background-size: 78px 85px;
  background-position: center 40px;
  background-repeat: no-repeat;
  font-size: 16px;
  text-align: center;
  color: #ccc;
  font-weight: 600;
}


