@media screen and (min-width: 1068px){
  .global-footer nav {
    width: 1020px;
  }
  .l-container {
    margin: 40px auto 0;
    width: 1020px;
  }
  .l-content {
    float: right;
  }
  .l-side {
    float: left;
    width: 280px;
    margin: 0 40px 0 0;
  }
}
