.mypage__side-bar {
  margin: 40px auto 0;
  @media screen and (min-width: 1068px) {
    width: 280px;
    float: left;
    margin: 0 40px 0 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1068px) {
    width: 700px;
  }

  li:first-child {
    border: 0;
  }
  li {
    border-top: 1px solid #eee;
   .active{
      background-color: #eee;
      font-weight: 600;
      .fa-angle-right {
        color: #333;
      }
    }
    a {
      position: relative;
      display: block;
      padding:14px;
      background-color: #fff;
      font-size: 14px;
      i {
        position: absolute;
        top: 35%;
        right: 16px;
        color: #ccc;
        font-size: 1.2em;

      }
    }
  }
  &__list__head {
    margin: 40px 0 0;
    font-size: 16px;
  }
}
