<main class="main">
  <div class="main-conteiner">
    <section  class="main-conteiner__heading">
      <h2 class="main-conteiner__heading-text">購入を確定しますか？</h2>
    </section>
    <section class="main-conteiner__itemInfo">
      <div class="main-conteiner__itemInfo__inner">
        <h3 class="main-conteiner__itemInfo__inner_imagebox">
          <img class="main-conteiner__itemInfo__inner_imagebox-img" src="./images/adidas-detail1.png">
        </h3>
        <p class="main-conteiner__itemInfo__inner__itemname">
          nao様専用 アディゼロサブ2 24.5センチ
        </p>
        <form class="main-conteiner__itemInfo__inner__form">
          <p class="main-conteiner__itemInfo__inner__form-price">
            ¥10,000 <span class="main-conteiner__itemInfo__inner__form-price-deriver">送料込み</span>
          </p>
          <ul class="main-conteiner__itemInfo__inner__form-pointlist">
            <li class="teiner__itemInfo__inner__form-main-conpointlist-all">
              <div class="main-conteiner__itemInfo__inner__form-pointlist-boxtext">
                ポイントを使う
              </div>
            </li>
          </ul>
          <ul class="main-conteiner__itemInfo__inner__form-psyprice">
            <li class="main-conteiner__itemInfo__inner__form-psyprice-box clearfix">
              <div class="main-conteiner__itemInfo__inner__form-psyprice-box-text">
                支払い金額
              </div>
              <div class="main-conteiner__itemInfo__inner__form-psyprice-box-price">
                ¥ 10,000
              </div>
            </li>
          </ul>
          <div class="main-conteiner__itemInfo__inner__form-pay-buybtn">
            <a href="#">購入する</a>
          </div>
        </form>
      </div>
    </section>
    <section class="main-conteiner__userAdress">
      <div class="main-conteiner__userAdress__box">
        <h3 class="main-conteiner__userAdress__box-header">配送先</h3>
        <address class="main-conteiner__userAdress__box-adress">
          〒123-1122<br>
          東京都江戸川区東江戸川3-22-11<br>
          山田 太郎
        </address>
        <a class="main-conteiner__userAdress__box-changeadd" href="#">変更する　></a>
      </div>
    </section>
    <section class="main-conteiner__cardInfo">
      <div class="main-conteiner__cardInfo__box">
        <h3 class="main-conteiner__cardInfo__box-header">支払い方法</h3>
        <p  class="main-conteiner__cardInfo__box-cardNo">
          ************7890<br>
          12/31
        </p>
        <img class="main-conteiner__cardInfo__box-cardimg" src="./images/card-logo.png"><br>
        <a class="main-conteiner__cardInfo__box-changeNo" href="#">変更する　></a>
      </div>
    </section>
  </div>
</main>
